*
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
a 
	text-decoration: none
	outline: none
	color: $black
img
	outline: none
	border: none
sup
	+rem(font-size, 18px)
	+rem(top, -7px)
	position: relative
html
	font-size: 16px
	height: 100%
	overflow: hidden
	+r(1650)
		font-size: 14px
	+r(1400)
		font-size: 13px
	+r(1280)
		font-size: 13px
body
	font-family: $Regular
	height: 100%
	overflow: hidden
	+rem(font-size, 18px)
	color: $white
.out
	position: relative
	width: 100%
	height: 100%
	background-color: $bodyColor
.perspective
	position: absolute
	width: 100%
	height: 100%
	perspective: 1500px
	.perspective-container
		position: absolute
		overflow: hidden
		width: 100%
		height: 100%
		min-height: 100%
		z-index: 1
		transform: translateZ(0) translateX(0) rotateY(0deg)
		transform-origin: 0% 50%
		transition: transform 0.5s ease 0s
		will-change: transform
	&.perspective-action
		.perspective-container
			transform: translateZ(-8.375rem) translateX(-1.75rem) rotateY(5deg)
			transition-delay: 0s
.wrapper 
	position: relative
	width: 100%
	height: 100%
	z-index: 3
	.content
		width: 100%
		height: 100%
.navigation-site
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $menuOverlay
	z-index: 5
	opacity: 0
	visibility: hidden
	transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s
	.overlay-circle
		position: absolute
		+rem(top, -1175px)
		+rem(right, -1175px)
		background-color: $white
		+rem(width, 2350px)
		+rem(height, 2350px)
		border-radius: 100%
		transition: transform 0.5s ease 0s
		transform: scale(0)
		+rhm(975)
			+rem(height, 2500px)
			+rem(width, 2500px)
	&.navigation-open
		opacity: 1
		visibility: visible
		transition-delay: 0s
		.overlay-circle
			transform: scale(1)
		.navigation_container
			opacity: 1
			transition-delay: 0.2s
		.navigation-middle
			transform: translate(0,0)
			transition-delay: 0.2s
		.contacts-container
			.contacts-column
				&:first-child
					opacity: 1
					transform: translate(0,0)
					transition-delay: 0.3s
				&:last-child
					opacity: 1
					transform: translate(0,0)
					transition-delay: 0.4s
	.navigation_container
		position: relative
		float: right
		+rem(width, 650px)
		height: 100vh
		+rem(padding, 20px 160px 0 10px)
		opacity: 0
		transition: opacity 0.5s ease 0s
		.navigation-topline
			transform: translateY(.8125rem);
			+clr
	.navigation-middle
		transform: translate(60px, -30px)
		transition: transform 0.5s ease 0s
	.contacts-container
		.contacts-column
			transform: translate(60px, -30px)
			opacity: 0
			transition: transform 0.5s ease 0s, opacity 0.5s ease 0s
.social-container
	float: left
	.social-item
		display: inline-block
		font-family: $Light
		font-size: 10px
		text-transform: uppercase
		color: $black
		+rem(letter-spacing, 1.9px)
		&:not(:last-of-type)
			+rem(margin-right, 25px)
.lang-container
	float: right
	.lang-item
		display: inline-block
		font-family: $Light
		font-size: 10px
		text-transform: uppercase
		color: $black
		+rem(letter-spacing, 1.9px)
		+rem(margin-left, 25px)
		&.active
			font-family: $DemiBold
.menu
	margin-top: 40%
	+r(1400)
		margin-top: 30%
	+rh(782)
		margin-top: 20%
	+rh(665)
		margin-top: 12%
	.menu-container
		margin-bottom: 7%
		.menu-item
			display: block
			width: 100%
			position: relative
			&.menu-item_link-padding
				margin-bottom: 7%
			&::after
				content: ""
				position: absolute
				top: 50%
				+rem(height, 4px)
				background-color: $black
				right: 0
				+rem(margin-top, -2px)
				transition: transform 0.3s ease
				transform: scale(0, 0)
				+rem(width, 118px)
			&:hover, &.active
				&::after
					transform: scale(1)
			a
				font-family: "Light"
				+rem(font-size, 36px)
				color: $black
				display: block
				width: 100%
.contacts-container
	display: inline-block
	width: 100%
	margin-top: 30%
	+clr
	+r(1400)
		margin-top: 20%
	.contacts-column
		width: 50%
		float: left
		font-family: "Light"
		font-size: 12px
		color: $black
		text-transform: uppercase
		+rem(letter-spacing, 1.5px)
		.contacts-title
			color: $grey
			+rem(margin-bottom, 20px)
		.contacts-text
			p
				+rem(margin-bottom, 10px)
			span
				display: block
.navigation_container
	.contacts-container
		display: inline-block
		width: 100%
		+clr
		position: absolute
		+rem(left,8px)
		bottom: 12%
		+rem(width,450px)
		margin-top: 0
		+rh(720)
			bottom: 10%
		+rh(665)
			bottom: 5%
.burger
	position: absolute
	+rem(top, 18px)
	+rem(right, 18px)
	// +rem(width, 53px)
	// +rem(height, 53px)
	width: 53px
	height: 53px
	background-color: $white
	transition: background-color 0.3s ease-in-out 0.3s
	border-radius: 100%
	z-index: 6
	cursor: pointer
	.humburger
		// +rem(width, 28px)
		// +rem(height, 14px)
		width: 28px
		height: 14px
		position: absolute
		top: 50%
		left: 50%
		// +rem(margin, -7px 0 0 -14px)
		// margin: -7px 0 0 -14px
		transform: translate(-50%, -50%)
		span
			position: absolute
			width: 100%
			display: block
			background-color: $black
			height: 2px
			left: 0
			transition: width 0.3s ease-in-out
			&:nth-child(1)
				top: 0
				transition-delay: .5s
			&:nth-child(2)
				top: 6px
				transition-delay: .625s
			&:nth-child(3)
				top: 12px
				transition-delay: .75s
	.cross
		// +rem(width, 28px)
		// +rem(height, 28px)
		width: 28px
		height: 28px
		position: absolute
		top: 50%
		left: 50%
		// +rem(margin, -14px 0 0 -14px)
		// margin: -14px 0 0 -14px
		transform: rotate(45deg) translate(-50%, -50%)
		transform-origin: 0px 0px
		span
			transition: width 0.3s ease-in-out, height 0.3s ease-in-out
			&:nth-child(1)
				height: 0%
				width: 2px
				position: absolute
				top: 0
				left: 48%
				transition-delay: 0s
				background-color: $white
			&:nth-child(2)
				width: 0%
				height: 2px
				position: absolute
				top: 48%
				left: 0
				transition-delay: 0.25s
				background-color: $white
	&.open_burger
		background-color: $black
		.humburger
			span
				width: 0
				&:nth-child(1)
					transition-delay: .0s
				&:nth-child(2)
					transition-delay: .125s
				&:nth-child(3)
					transition-delay: .25s
		.cross
			span
				&:nth-child(1)
					height: 100%
					transition-delay: .625s
				&:nth-child(2)
					width: 100%
					transition-delay: .375s
.pixel
	.burger
		.humburger
			height: 15px
			span
				&:nth-child(2)
					top: 7px
				&:nth-child(3)
					top: 13px
.logo 
	+rem(width, 156px)
	+rem(height, 22px)
	background-image: url(../img/icons/logo.png)
	background-repeat: no-repeat
	display: block
	position: absolute
	z-index: 5
	background-size: cover
	+rem(top, 31px)
	+rem(left, 40px)
.head-site
	.lang-container
		float: none
		position: absolute
		+rem(top, 35px)
		+rem(right, 156px)
		z-index: 5
		.lang-item
			color: $white
	.collections
		position: absolute
		z-index: 5
		+rem(top, 29px)
		+rem(left, 297px)
		color: #f6f2f2
		i
			display: inline-block
			vertical-align: middle
			+rem(width, 11px)
			+rem(height, 11px)
			background-image: url(../img/icons/tr.png)
			background-size: cover
			+rem(margin, -3px 10px 0 0 )
.share-container
	position: absolute
	+rem(bottom, 0px)
	+rem(left, 0px)
	+rem(width, 80px)
	+rem(height, 80px)
	z-index: 5
	&:hover
		.share-list
			.share-list_item
				transform: translate(0, 0)
	.share-trigger
		width: 100%
		height: 100%
		display: block
		cursor: pointer
		.share-trigger_icon
			+rem(width, 22px)
			+rem(height, 22px)
			position: absolute
			top: 50%
			left: 50%
			+rem(margin, -11px 0 0 -11px)
			svg
				overflow: visible
			.icon
				+rem(width, 22px)
				+rem(height, 22px)
				display: block
				path
					fill: $white
	.share-list
		position: absolute
		+rem(bottom, 70px)
		.share-list_item
			+rem(width, 80px)
			display: block
			position: relative
			+rem(height, 45px)
			transform: translate(-100%, 0)
			transition: transform 0.5s cubic-bezier(.68,-.55,.265,1.55)
			&:nth-child(1)
				transition-delay: 0.1s
			&:nth-child(2)
				transition-delay: 0.2s
			&:nth-child(3)
				transition-delay: 0.3s
			&:nth-child(4)
				transition-delay: 0.4s
			&:nth-child(5)
				transition-delay: 0.5s
			&:nth-child(6)
				transition-delay: 0.6s
			.share-icon
				+rem(width, 22px)
				+rem(height, 22px)
				position: absolute
				top: 50%
				left: 50%
				+rem(margin, -11px 0 0 -11px)
				.icon
					+rem(width, 22px)
					+rem(height, 22px)
					display: block
					path
						fill: $white
.developers
	position: absolute
	z-index: 5
	bottom: 50px
	right: 40px
	+rem(width, 5px)
	+rem(height, 5px)
	.developers-transform
		transform: rotate(90deg)
		transform-origin: right bottom
		float: right
		.developers-text
			a
				display: inline-block
				white-space: nowrap
				font-family: "Light"
				font-size: 10px
				text-transform: uppercase
				color: $white
				letter-spacing: 3px
.navigation_container
	.developers 
		.developers-transform 
			.developers-text 
				a
					color: $black
.copyright
	position: absolute
	z-index: 5
	top: 65%
	+rem(left, 35px)
	+rem(width, 5px)
	+rem(height, 5px)
	.copyright-transform
		transform: rotate(-90deg)
		.copyright-list
			white-space: nowrap
			li
				display: inline-block
				font-size: 10px
				font-family: "Light"
				text-transform: uppercase
				padding: 0 10px
				letter-spacing: 3px
				position: relative
				&:not(:last-child)
					&::after
						content: "."
						position: absolute
						bottom: 0
						right: -4px
.full-slider
	position: relative
	width: 100%
	height: 100%
	.color-container
		width: 26%
		height: 100%
		position: relative
		z-index: 5
		transition: background-color .5s ease
		float: left
	.full-slider-container
		position: relative
		width: 74%	
		height: 100%
		float: left
		.slide
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 1
			&.current
				z-index: 2
				.slide-text
					p, .slide-link, &.percent:after
						opacity: 1
						transform: none
				.active
					.slide-text
						p, .slide-link, &.percent:after
							opacity: 1
							transform: none
			&.slideOut
				.slide-text
					p
						transition-delay: 0s 
					.slide-link
						transition-delay: 0.125s
					&.percent:after
						transition-delay: 0s
				.active
					.slide-text

						p
							transition-delay: 0s 
						.slide-link
							transition-delay: 0.125s
						&.percent:after
							transition-delay: 0s
			.slide-image_container
				width: 100%
				height: 100%
				position: relative	
				.slide-image_cover
					position: absolute
					left: 0	
					top: 0	
					width: 100%	
					height: 100%
					z-index: 2
					opacity: 0.4
				img
					width: 100%
					height: 100%
					object-fit: cover
			&.slideOut
				z-index: 2
			&.slideIn
				animation: slideIn 0.5s ease both
				z-index: 3
			
		.slide-text
			position: absolute
			left: 45%
			top: 55%
			max-width: 350px
			z-index: 3
			&.percent
				&::after
					content: ""
					background-image: url("../img/svg/sale.svg")
					background-repeat: no-repeat
					background-size: cover
					position: absolute
					+rem(width, 35px)
					+rem(height, 35px)
					top: 0
					+rem(left, -50px)
					transform: translate(0, 2rem)
					opacity: 0
					transition: transform 0.8s ease-in-out 0.5s, opacity 0.8s ease-in-out 0.5s
			p 
				font-family: "Light"
				+rem(font-size, 28px)
				+rem(margin-bottom, 30px)
				color: $colorText
				transform: translate(0, 2rem)
				opacity: 0
				transition: transform 0.8s ease-in-out 0.5s, opacity 0.8s ease-in-out 0.5s
				span
					font-family: "Light"
					font-size: 10px
					color: $white
					text-transform: uppercase
					letter-spacing: 3px
					line-height: 28px
			.slide-link
				display: inline-block
				transform: translate(0, 2rem)
				opacity: 0
				transition: transform 0.8s ease-in-out 0.625s, opacity 0.8s ease-in-out 0.625s
			&:hover
				.slide-link
					&::after
						transform: rotate(360deg)
	.full-pagination
		position: absolute
		z-index: 7
		+rem(left, 297px)
		+rem(bottom, 30px)
		+rem(min-width, 250px)
		.pagination-item
			+rem(padding, 5px 0)
			display: block
			width: 100%
			position: relative
			cursor: pointer
			opacity: 0.3
			transition: opacity 0.3s ease
			&::after
				content: ""
				+rem(width, 118px)
				background-color: $white
				height: 2px
				position: absolute
				right: 0
				top: 50%
				margin: -1px 0 0 0
				transform: scaleX(0)
				transition: all 0.5s ease
			&:hover 
				opacity: 1
			&.current
				opacity: 1
				&::after
					transform: scaleX(1)
	.full-slider-inserted
		position: absolute
		width: 100%
		height: 100%
		.slider-inserted_container
			position: absolute
			width: 100%
			height: 100%
			transform: translateZ(0)
			.slide-inserted 
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				z-index: 1
				transition: transform 0.5s ease
				.slide-text
					p
						transform: translate(0, 2rem)
						opacity: 0
						transition: transform 0.8s ease-in-out 0.5s, opacity 0.8s ease-in-out 0.5s 
					.slide-link
						display: inline-block
						transform: translate(0, 2rem)
						opacity: 0
						transition: transform 0.8s ease-in-out 0.625s, opacity 0.8s ease-in-out 0.625s
				.slide-image_container
					perspective: 1000px
					img,.slide-image_cover
						width: 100%
						height: 100%
						object-fit: cover
						// backface-visibility: hidden
						transform-origin: 0 50%
						transition: transform 0.5s ease
						will-change: transform
						transform-style: preserve-3d
						outline: 1px solid transparent
				&.active
					z-index: 2
				&.transform-out
					z-index: 2
					img,.slide-image_cover
						transition: none
						animation: transformOut 0.5s ease both
				&.transform-in
					z-index: 4
					transition: none
					animation: transformIn 0.5s ease both
					img
				&.slideNext
					// transform: translate(100%, 0)
					// z-index: 3
		&.hovered
			.slide-inserted
				&.active
					img,.slide-image_cover
						transform: rotateY(5deg)
				&.slideNext
					// transform: translate(90%, 0)
					// animation: transformInOut1 0.5s ease both
			&.animation
				.slide-inserted
					&.active
						img,.slide-image_cover
							transform: none
					&.transform-out
						img,.slide-image_cover
							animation: none
							transform: rotateY(5deg)
					&.transform-in
						animation: transformInOut 0.5s ease both
						
		.slider-inseted_bullet
			position: absolute
			+rem(bottom, 27px)
			left: 44.5%
			z-index: 5
			.bullet
				width: 25px
				height: 25px
				display: inline-block
				position: relative
				cursor: pointer
				&::after
					content: ""
					width: 8px
					height: 8px
					background-color: rgba(255,255,255,.3)
					border-radius: 100%
					position: absolute
					top: 50%
					left: 50%
					margin: -4px 0 0 -4px
					transition: background-color 0.3 ease
				&.active
					&::after
						background-color: $white
		.slider-inserted_nav
			position: absolute
			top: 0
			right: 0
			+rem(width, 160px)
			bottom: 0
			cursor: url(../img/icons/arrowright.png), auto
			z-index: 5
@keyframes slideIn
	0%
		transform: translate(35%, 0)
		opacity: 0
	100%
		transform: translate(0,0)
		opacity: 1

@keyframes transformOut
	0%
		transform: rotateY(0deg)
	100%
		transform: rotateY(5deg)
@keyframes transformIn
	0%
		transform: translate(100%, 0)
	100%
		transform: translate(0%, 0)

@keyframes  transformInOut1
	0%
		transform: translate(100%, 0)
		z-index: 3
	100%
		transform: translate(90%, 0)
		z-index: 3
@keyframes  transformInOut
	0%
		transform: translate(100%, 0)
	100%
		transform: translate(0%, 0)
.slide-link
	position: relative
	+rem(padding-left, 45px)
	color: $colorText
	span
		font-family: "Light"
		font-size: 10px
		color: $white
		text-transform: uppercase
		letter-spacing: 3px
		line-height: 28px
	&::after
		content: ''
		+rem(width, 29px)
		+rem(height, 28px)
		background-image: url(../img/svg/plus.svg)
		background-size: cover
		background-repeat: no-repeat
		position: absolute
		left: 0
		top: 0
		transition: transform 0.5s ease
		transform-origin: 50% 50%
	&:hover
		&::after
			transform: rotate(360deg)


.head-container
	position: absolute
	z-index: 6
	// +rem(top, 185px)
	top: 19%
	+rem(left, 160px)
	pointer-events: none
	span
		font-family: "DemiBold"
		+rem(font-size, 150px)
		text-transform: uppercase
		display: block
		+rem(line-height, 150px)
		-webkit-text-stroke: 1px
		+r(1280)
			+rem(font-size, 120px)
			+rem(line-height, 120px)
.color-container
	position: absolute
	z-index: 1
	width: 100%
	height: 100%
	.color
		width: 100%
		height: 50%
.gallery-container
	position: relative
	z-index: 2
	width: 100%
	height: 100%
	.head-container
		pointer-events: none
	.color-container
		position: absolute
		z-index: 1
		width: 100%
		height: 100%
		.color
			width: 100%
			height: 50%
			transition: background-color 1.2s cubic-bezier(0.25, 0.1, 0.25, 1)
	.columns
		&:first-child
			width: 32.375%
			position: relative
		&:last-child
			width: 67.625%
	.filter
		left: 56%
	&.gallery-container_inner
		.head-container
			transition: opacity 0.3s ease, transform 0.5s ease
		.text-container
			transition: opacity 0.3s ease 0.125s, transform 0.5s ease 0.125s
		.scroll-container
			transition: opacity 0.3s ease, transform 0.5s ease
		.columns-template
			.columns
				width: 50%
.gallery-pagination
	display: flex
	position: relative
	.gallery-pagination_item
		width: 50%
		+rem(height, 294px)
		overflow: hidden
		position: relative
		.image-container
			height: 100%!important
			&::after
				content: none
			.color-box
				position: absolute
				width: 100%
				height: 100%
				z-index: 1
				transition: opacity 0.5s ease
			img
				height: 100%!important
		.pagination-text
			position: absolute
			z-index: 5
			text-align: center
			width: 100%
			height: 100%
			top: 0
			z-index: 5
			transform: translateZ(0)
			.text-position
				position: absolute
				top: 50%
				width: 100%
				transform: translate(0, -50%)
			.nav-text
				font-family: "Light"
				font-size: 10px
				text-transform: uppercase
				color: $white
				letter-spacing: 3px
				+rem(margin-bottom, 10px)
			.nav-name
				font-family: "Light"
				+rem(font-size, 28px)
				color: $white
		&:hover
			.image-container
				.color-box
					opacity: 0.84
.columns-template
	position: relative
	height: 100vh
	width: 100%
	z-index: 7
	.columns
		width: 50%
		height: 100%
		float: left
		position: relative
		
.filter
	position: absolute
	z-index: 5
	top: 55%
	+rem(left, 284px)
	+r(1400)
		top: 60%
	.filter-item
		+rem(padding-left, 33px)
		position: relative
		a
			color: #bebcbc
			transition: color 0.3s ease
			+rem(padding, 7px 0)
			display: inline-block
			&:hover
				color: $white
		&.active
			pointer-events: none
			a
				color: $white
			&::after
				content: ''
				+rem(width, 4px)
				+rem(height, 4px)
				background-color: $white
				position: absolute
				top: 50%
				+rem(margin-top, -2px)
				left: 0
				border-radius: 100%

@keyframes fading
	0%
		opacity: 1
	50%
		opacity: .3
	100%
		opacity: 1
.gallery-slider_scrolldown
	display: inline-block
	position: absolute
	left: 50.2%
	+rem(bottom,40px)
	animation: fading 2.5s linear infinite
	font-family: Light
	font-size: 13px
	z-index: 0
.gallery-slider
	position: relative
	width: 100%
	height: 100%

	.gallery-slider_content
		position: absolute
		width: 100%
		height: 100%
		+rem(padding, 80px 118px 39px 0)
		backface-visibility: hidden
		&.prev
			top: -100%
		&.next
			top: 100%
		&.is-animate
			&.prev
				top: 0
			&.next
				top: 0
		&.current-page
			&.animateNext
				& > div
					&:last-of-type:not(:first-of-type)
						.slider-element
							&_left
								bottom: -100%
							&_right
								top: -100%
			&.animatePrev
				& > div
					&:last-of-type:not(:first-of-type)
						.slider-element

							&_left
								top: -83%
							&_right
								z-index: 5
								bottom: -80%
								top: auto
			&.animate
				&.animateNext
					& > div
						&.slideIn
							.slider-element

								&_left
									+rem(bottom, 40px)
									animation: 1.2s slideLeftDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									+rem(top, 80px)
									animation: 1.2s slideRightUp both cubic-bezier(0.25, 0.1, 0.25, 1)
						&.slideOut
							.slider-element
								z-index: 5
								&_left
									animation: 1.2s slideLeftUp both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
				&.animatePrev
					& > div
						&.slideIn
							.slider-element
								&_left
									+rem(bottom, 40px)
									// top: auto
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									+rem(top, 80px)
									// bottom: -100%
									animation: 1.2s slideLeftDown both cubic-bezier(0.25, 0.1, 0.25, 1)
						&.slideOut
							.slider-element
								z-index: 5
								&_left
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									animation: 1.2s slideLeftUp both cubic-bezier(0.25, 0.1, 0.25, 1)
		.slider-element
			width: 40.851%
			height: 71.6%
			position: absolute
			will-change: transform
			.container
				width: 100%
				height: 100%
				overflow: hidden
			&:hover
				.image-container_cover
					opacity: 0
				.image-container
					transform: scale(1.05)
			.image-container
				transform: scale(1)
				transition: transform 0.3s ease
				&::after
					content: none
			.element-text
				position: absolute
				z-index: 2
				width: 100%
				.element-name
					font-family: "Light"
					+rem(font-size, 28px)
					+rem(margin-bottom, 5px)
					color: $colorText
					transform: translateZ(0)
					&::after
						content: ""
						+rem(width, 128px)
						height: 2px
						background-color: $white
						position: absolute
						+rem(top, 18px)
						transition: all 0.3s ease
						right: 0
				.element-price
					font-family: "Light"
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 3px
					color: $white
				&.percent
					&::after
						content: ""
						background-image: url(../img/svg/sale.svg)
						background-repeat: no-repeat
						background-size: cover
						position: absolute
						+rem(width, 30px)
						+rem(height, 30px)
						+rem(top, 4px)
						+rem(left, -40px)
			&_left
				// float: left
				left: 0
				+rem(bottom, 40px)
				will-change: transform
				.element-text
					+rem(bottom, 40px)
					+rem(left, 40px)
				&:hover
					.element-text
						.element-name
							&::after
								+rem(width, 108px)
								+rem(right, 20px)
			&_right
				// float: right
				+rem(right, 118px)
				+rem(top, 80px)
				will-change: transform
				.element-text
					.element-name
						&::after
							+rem(right, -80px)
				.element-text
					+rem(top, 40px)
					+rem(right, 40px)
				&:hover
					.element-text
						.element-name
							&::after
								+rem(width, 108px)
								+rem(right, -60px)
.safari
	.gallery-slider .gallery-slider_content
		&.animatePrev
			& > div
				&:last-of-type:not(:first-of-type)
					.slider-element
						&_left
							top: -84%
.image-container
	width: 100%
	height: 100%
	position: relative
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(84, 82, 81, .5)
		// +tr(background-color .3s)
		// background-color: $overlay
		// opacity: 0.5
		// will-change: opacity
	.image-container_cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2
		opacity: .4
		+tr(opacity .3s)
	img
		width: 100%
		max-width: 100%
		height: 100%
		object-fit: cover
	.featured-image
		width: 100%
		height: 100%
		background-size: cover
@keyframes slideLeftUp
	0%
		transform: translate(0,0)
	100%
		transform: translate(0, -150%)
@keyframes slideLeftDown
	0%
		transform: translate(0,150%)
	100%
		transform: translate(0, 0)
@keyframes slideRightDown
	0%
		transform: translate(0,0)
	100%
		transform: translate(0, 150%)
@keyframes slideRightUp
	0%
		transform: translate(0,-150%)
	100%
		transform: translate(0, 0)
.pagination-container
	position: absolute
	+rem(bottom, 40px)
	+rem(right, 156px)
	font-family: "Light"
	font-size: 10px
	z-index: -1
	.pagination-spinner
		padding: 0 10px
	div[class^="pagination-"]
		display: inline-block
		letter-spacing: 3px

.text-container
	position: absolute
	z-index: 5
	top: 55%
	+rem(left, 160px)
	+rem(max-width, 525px)
	width: 100%
	+r(1400)
		top: 60%
	+r(1280)
		top: 50%
	.head-container
		position: static
	.side-price
		+r(1280)
			float: none
			+rem(margin-bottom, 25px)
		font-family: "Light"
		+rem(font-size, 28px)
		float: left
		+rem(max-width, 160px)
		width: 100%
		color: $colorText
	.side-text
		+r(1280)
			float: none
			max-width: 100%
		float: right
		+rem(padding-right, 15px)
		+rem(max-width, 365px)
		.title
			font-family: "Light"
			+rem(font-size, 28px)
			+rem(margin-bottom, 40px)
		p
			+rem(line-height, 28px)
			+rem(letter-spacing, 0.2px)
			color: $colorText
			a 
				color: $colorText
				+tr(color .3s)
				&:hover
					color: #fff
		.btn
			+rem(margin-top, 35px)
		.form-container
			+rem(margin-top, 35px)
.btn-back
	display: block
	color: #f6f2f2
	+tr(color .3s)
	position: absolute
	+rem(bottom,40px)
	+rem(left,318px)
	+rem(font-size, 14px)
	+r(1280)
		+rem(left,158px)	
	&:hover
		color: #fff
.project
	+vertical
	text-align: left
	.text-container
		position: relative
		display: inline-block
		vertical-align: middle
		top: auto
		transform: none
		p
			+rem(font-size, 18px)
		.head-container
			width: 300%
			+rem(margin-bottom,50px)
			+r(1650)
				+rem(margin-bottom,51px)
			+r(1280)
				+rem(margin-bottom,41px)

			+r(1100)
				width: 200%

.content-designers
	.text-container
		top: 45%
	.download-container
		+rem(margin-top, 20px)
		.download-item 
			.name 
				span
					color: $white
.content-collection, .content-projects
	.head-container
		z-index: 8
.btn
	display: inline-block
	border-style: solid
	border-color: $white
	+rem(border-width, 2px)
	overflow: hidden
	&:hover
		span
			color: #000
			&:before
				transform: translateX(0)
	span
		font-family: "Light"
		font-size: 10px
		text-transform: uppercase
		letter-spacing: 3px
		+rem(padding, 17px 27px)
		display: block
		color: $white
		position: relative
		+tr(color .3s ease)
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			background-color: #fff
			z-index: -1
			transform: translateX(-100%)
			+tr(transform .3s ease)
.scroll-container
	height: auto
	overflow: auto
	height: 100%
	+scrollbar
		width: 4px
		background: transparent
	+scrollbar-track
		width: 5px
		background-color: transparent
	+scrollbar-thumb
		background-color: #eee
	// margin-right: -20px
	.scroller
		// width: 100%
		// height: 100%
		// overflow: auto
		// margin-right: 20px
		&:hover
			& + .scroll-down
				opacity: 1
		.image-container
			// overflow: auto
			height: auto
			&:after
				display: none
						
			img
				height: auto
				display: block
	.scroll-down
		position: absolute
		+rem(bottom, 40px)
		right: 24%
		+rem(width, 34px)
		+rem(height, 56px)
		pointer-events: none
		opacity: 0
		transition: opacity 0.3s ease
		z-index: 6
		display: none
		.mouse
			+rem(width, 3px)
			+rem(padding, 26px 15px)
			border: 2px solid $white
			+rem(border-radius, 25px)
			opacity: 0.75
			+rem(height, 35px)
			.scroll-wheel
				width: 2px
				height: 10px
				border-radius: 25%
				background-color: $white
				animation: scroll 1.2s cubic-bezier(.15,.41,.69,.94) infinite
				position: absolute
				top: 15px
				left: 50%
				margin-left: -1px
@keyframes scroll
	0%
		opacity: 0
	10%
		opacity: 1
		transform: translateY(0)
	100%
		opacity: 0
		transform: translateY(15px)
.card-container
	width: 100%
	height: 100vh
	// transition: 1.5s ease transform
	&+.gallery-slider_scrolldown
		left: 50%
		transform: translateX( -17.6rem)
		+rem(width,560px)
		+r(1150)
			transform: translateX(-14.875rem)
			+rem(width,390px)
	.card-item
		display: flex
		flex-wrap: nowrap
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		.card-item_container
		.flip-card
			+rem(width, 560px)
			+rem(height, 560px)
			position: relative
			+r(1150)
				+rem(width, 470px)
				+rem(height, 470px)
			.flip-line
				+rem(width, 11px)
				+rem(height, 4px)
				background-color: $white
				position: relative
				bottom: 50%
				z-index: 8
				transform: translate(-40px, -50%) scale(10.72, 1)
				transform-origin: 0 50%
				will-change: transform
			.flip-card_container
				width: 100%
				height: 100%
				position: relative
				
				.flip-card_front
					position: absolute
					width: 100%
					height: 100%
					backface-visibility: hidden
					transform: perspective(1000px) rotateY(0deg)
					transition: transform 0.6s ease
					will-change: transform
					cursor: pointer
					.image-container
						overflow: hidden
						.featured-image
							transition: transform .3s ease
						&::after
							display: none
						.overlay
							width: 56px
							height: 56px
							background-color: rgba(84,82,81,.5)
							position: absolute
							top: 50%
							left: 50%
							transform: translate(-50%,-50%) scale(10)
							+tr(opacity .3s)
					.slide-link
						+rem(bottom, 60px)
						+rem(left, 40px)
						z-index: 5
				&:hover
					.slide-link
						&::after
							transform: rotate(360deg)
					.overlay
						opacity: 0
					.featured-image
						transform: scale(1.05);
				.flip-card_back
					position: absolute
					width: 100%
					height: 100%
					backface-visibility: hidden
					display: block
					background-color: $backFace
					transform: perspective(1000px) rotateY(-179.9deg)
					transition: transform 0.6s ease
					will-change: transform
					text-align: center
					.stock-more
						+rem(padding, 40px 80px 0 115px)
						height: 100%
						width: 100%
						text-align: left
						+r(1150)
							+rem(padding, 30px 50px 0 85px)
						p 
							letter-spacing: 0.5px
							+rem(line-height, 28px)
							&:not(:last-child)
								+rem(margin-bottom, 40px)
								+r(1150)
									+rem(margin-bottom, 20px)
							a
								color: $backFaceLink
								border-bottom: 1px solid
								transition: border-color 0.3s ease
								&:hover 
									border-color: transparent
					.slide-link_close
						display: inline-block
						+rem(margin-top, 87px)
						position: relative
						+rem(padding-top, 30px)
						cursor: pointer
						+r(1150)
							+rem(margin-top, 40px)
						&::after
							content: ''
							+rem(width, 22px)
							+rem(height, 22px)
							display: inline-block
							background-image: url(../img/icons/icon-2.png)
							background-size: cover
							position: absolute
							top: 0
							left: 50%
							transition: transform 0.5s ease
							transform-origin: 50% 50%
							+rem(margin-left, -11px)
						span
							font-family: "Light"
							font-size: 10px
							text-transform: uppercase
							letter-spacing: 3px
			&_flipped
				.flip-card_container
					.flip-card_front
						transform: perspective(1000px) rotateY(179.9deg)
					.flip-card_back
						transform: perspective(1000px) rotateY(0deg)
.thumbnails-container
	position: absolute
	left: 18%
	height: 54.5vh
	bottom: 0
	width: 100%
	+rem(max-width, 480px)
	+r(1280)
		+rem(left, 160px)
		height: 54vh
	&::after
		position: absolute
		content: ""
		+rem(bottom, 0)
		left: 0
		width: 100%
		+rem(height, 110px)
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414040+0,414040+21,414040+100&0+0,1+100 */
		background: -moz-linear-gradient(top,  rgba(65,64,64,0) 0%, rgba(65,64,64,0.21) 21%, rgba(65,64,64,1) 100%) /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(65,64,64,0) 0%,rgba(65,64,64,0.21) 21%,rgba(65,64,64,1) 100%) /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(65,64,64,0) 0%,rgba(65,64,64,0.21) 21%,rgba(65,64,64,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00414040', endColorstr='#414040',GradientType=0 ) /* IE6-9 */
	.thumbnails-scroller
		// transition: 1.5s ease transform
		position: absolute
	.thumbnails-items
		display: block
		width: 100%
		cursor: pointer
		opacity: 0.5
		visibility: visible
		transition: opacity 0.9s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s, visibility 0.9s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s
		&.hidden
			opacity: 0
			transition-delay: 0s
			visibility: hidden
		&:not(:last-of-type)
			+rem(margin-bottom, 40px)
		data
			font-family: "Light"
			font-size: 10px
			color: $white
			text-transform: uppercase
			letter-spacing: 3px
			color: $colorText
		.stock-name
			font-family: "Light"
			+rem(font-size, 28px)
			+rem(line-height, 36px)
			color: $colorText
			+r(1280)
				+rem(font-size, 24px)
				+rem(line-height, 32px)
		&.active
			opacity: 1
.brands-wrapper
	+rem(width, 400px)
	position: absolute	
	margin-left: 10%
	height: 100%
	&::after
		content: ''
		width: 100%
		+rem(bottom, 0px)
		left: 0
		+rem(height, 60px)
		position: absolute
		background: -moz-linear-gradient(top,  rgba(42,42,50,0) 0%, rgba(42,42,50,1) 70%, rgba(42,42,50,1) 99%, rgba(42,42,50,1) 100%, rgba(42,42,50,1) 101%)
		background: -webkit-linear-gradient(top,  rgba(42,42,50,0) 0%,rgba(42,42,50,1) 70%,rgba(42,42,50,1) 99%,rgba(42,42,50,1) 100%,rgba(42,42,50,1) 101%)
		background: linear-gradient(to bottom,  rgba(42,42,50,0) 0%,rgba(42,42,50,1) 70%,rgba(42,42,50,1) 99%,rgba(42,42,50,1) 100%,rgba(42,42,50,1) 101%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a2a32', endColorstr='#2a2a32',GradientType=0 )
	&::before
		content: ''
		width: 100%
		+rem(top, 0px)
		left: 0
		+rem(height, 60px)
		position: absolute
		z-index: 7
		background: -moz-linear-gradient(top,  rgba(42,42,50,1) 0%, rgba(42,42,50,0) 100%)
		background: -webkit-linear-gradient(top,  rgba(42,42,50,1) 0%,rgba(42,42,50,0) 100%)
		background: linear-gradient(to bottom,  rgba(42,42,50,1) 0%,rgba(42,42,50,0) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a32', endColorstr='#002a2a32',GradientType=0 )
	.brands-container
		width: 100%
		position: absolute
		overflow: hidden
		height: auto
		top: 0
		.brands-list
			+rem(padding, 410px 0 0)
			li
				border-bottom: 1px solid rgba(255,255,255,.3)
				+rem(padding, 12px 0)
				display: inline-block
				width: 100%
				&:last-child
					margin-bottom: 150px
				span
					font-family: "Light"
					+rem(font-size, 28px)
					color: $lgrey
					transition: color 0.3s ease
					cursor: pointer
					&:hover
						color: $white
.brand-modal
	position: absolute
	top: 0
	width: 100%
	left: 100%
	height: 100%
	z-index: 5
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background-color: $brandOverlay
		opacity: 0
		transition: opacity 0.5s ease
	&.mobal-open
		left: 0
	&.modal-animate
		&::after
			opacity: 0.5
	.brand-modal_container
		position: absolute
		top: 0
		right: 0
		height: 100%
		overflow: auto
		background-color: $white
		+rem(width, 445px)
		z-index: 6
		margin-right: -17px
		transform: translate(100%, 0)
		transition: transform 0.5s ease
		+rem(padding, 80px 40px 30px 60px)
		&.open
			transform: translate(0, 0)
		.brand-logo
			+rem(width, 180px)
			+rem(height, 130px)
			position: relative
			+rem(margin-bottom, 90px)
			display: table
			.logo-container
				display: table-cell
				vertical-align: middle
				width: 100%
				height: 100%
				img
					max-width: 100%
					max-height: 100%
					display: block
		.brand-head
			+rem(margin-bottom, 40px)
			.name
				font-family: "Light"
				+rem(font-size, 28px)
				color: $black
				letter-spacing: 0.2px
				+rem(margin-bottom, 8px)
			.link
				color: #98989c
		.brand-content
			+rem(margin-bottom, 40px)
			p
				color: $black
				+rem(line-height, 28px)
		.download-container
			.download-item
				.icon
					background-image: url(../img/icons/download.jpg)
.download-container
	.download-item
		display: flex
		align-items: center
		&:not(:last-of-type)
			+rem(margin-bottom, 30px)
		.icon
			+rem(width, 30px)
			+rem(height, 27px)
			background-image: url(../img/icons/download-white.png)
			background-size: cover
			+rem(margin-right, 20px)
		.name
			span
				font-family: "Light"
				font-size: 12px
				color: $black
				text-transform: uppercase
				letter-spacing: 3px
				display: block
				line-height: 1.7
.map-container
	position: absolute
	width: 100%
	height: 100%
	z-index: 3
	.image
		position: absolute
		top: 0
		+rem(left, 442px)
		height: 100%
		background-color: $mapOverlay		
		+r(1150)
			+rem(left, 350px)
		img
			max-height: 100%
			opacity: 0.3
.gallery-vertical
	width: 100%
	height: 100%
	.slick-list
		overflow: visible
	.gallery-vertical_container
		+rem(width, 560px)
		margin: auto
		height: 100%
		+r(1150)
			+rem(width, 470px)
		.pagination-container
			z-index: 3
	.gallery-slider
		display: block
		top: 50%
		transform: translate(0,-50%)
		height: auto
		position: relative
		
		.slider-item
			width: 100%
			+rem(height, 560px)
			overflow: hidden
			+rem(margin, 32px 0)
			pointer-events: none
			+r(1150)
				+rem(height, 470px)
			.slider-item_container
				width: 100%
				height: 100%
				img
					display: block
			&:hover
				.cover_video-wrapp
					opacity: 1

	.cover_video-wrapp
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 9
		opacity: 0
		transition: opacity 0.5s ease
		cursor: pointer
		.cover_video
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			.cover_video-inner
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				overflow: hidden
				.bg_video
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					overflow: hidden
					video
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						left: 50%
						transform: translate(-50%, 0)
						opacity: 0
		&.empty_video
			cursor: default
			& + .screen_frame
				.screen_frame-content .screen_frame-image:after
					display: none
	.image-container
		transform: translateZ(0)
		&::after
			content: ''
			position: absolute
			top: -10%
			left: -10%
			width: 120%
			height: 120%
			background-color: rgba(14,27,34,.9)
			transition: background-color 0.5s ease
			z-index: 2 
			opacity: 1
			will-change: background-color
		img
			transform: none
	.screen_frame
		position: relative
		width: 100%
		height: 100%
		display: table
		.screen_frame-content
			display: table-cell
			.screen_frame-image
				position: relative
				width: 100%
				height: 100%
				transform: translateZ(0)
				&::after
					content: ''
					position: absolute
					top: -10%
					left: -10%
					width: 120%
					height: 120%
					background-color: rgba(14,27,34,.9)
					background-image: url(../img/icons/video-play.png)
					background-repeat: no-repeat
					background-position: 50% 50%
					background-size: 50px
					transition: background-color 0.5s ease
					z-index: 5
					will-change: background-color
				div
					width: 100%
					height: 100%
					background-size: cover
	.gallery-slider
		.slick-current
			pointer-events: auto
			.cover_video-wrapp
				.cover_video
					.cover_video-inner
						.bg_video
							video
								opacity: 1
			.screen_frame
				.screen_frame-content
					.screen_frame-image
						&::after
							background-color: rgba(14,27,34,.0)
			.image-container
				&::after
					background-color: rgba(84,82,81,.5)
.modal-video
	position: absolute
	top: 0
	left: 100%
	width: 100%
	height: 100%
	z-index: 5
	text-align: center
	font-size: 0
	+rem(padding, 50px)
	&.modal-video-open
		left: 0
	&.modal-video-overlay
		&::after
			opacity: 0.5
	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		width: 0
		height: 100%
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #343a3e
		opacity: 0
		transition: opacity 0.5s
	.modal-video_overlay
		position: absolute
		top: 50%
		left: 50%
		background-color: #FFF
		width: 1200px
		height: 1200px
		transform: translate(-50%,-50%)
		z-index: 2
		border-radius: 50%
	.modal-video_container
		position: relative
		display: inline-block
		vertical-align: middle
		.modal-video-frame
			+rem(width, 1280px)
			position: relative
			padding-bottom: 56.25%
			transform: translate(100vw, 0)
			transition: transform 0.5s ease 0.5s
			z-index: 3
			will-change: transform
			+r(1366)
				+rem(width, 1024px)
			&.animate
				transform: translate(0,0)
			iframe
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				z-index: 6
				opacity: 0
				transition: opacity 0.5s ease
				&.load
					opacity: 1
			img
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				z-index: 5
.openModal
	.perspective
		.perspective-container
			transition-delay: 0s
	.modal-video
		.modal-video_container
			.modal-video-frame
				transition-delay: 0s
.perspective
	&.open-modal
		.perspective-container
			transition-delay: 0s
			transition-duration: 0.5s
			transform: translate(-3%, 0) scale(0.95)

.map-modal
	position: absolute
	top: 0
	left: 100%
	width: 100%
	height: 100%
	z-index: 6
	text-align: center
	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		width: 0
		height: 100%
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #343a3e
		opacity: 0
		transition: opacity 0.5s ease
	&.map-open
		left: 0
	&.map-overlay
		&::after
			opacity: 0.5
	.map-container
		width: 0
		// +rem(width, 908px)
		height: 100%
		+rem(left, 442px)
		overflow: hidden
		top: 0
		transition: width 0.5s ease
		+r(1150)
			+rem(left, 350px)
		&.open-map
			+rem(width, 908px)
			+r(1150)
				+rem(width, 800px)
		.map-container_inner
			position: relative
			+rem(width, 908px)
			+r(1150)
				+rem(width, 800px)
			height: 100%
			.map
				width: 100%
				height: 100%
				position: relative
				// &:after
				// 	+coverdiv
				// 	content: ''
				// 	position: absolute
				// 	background-color: rgba(23, 34, 45, 0.44)
					
				.gmnoprint, .gm-style-cc, a
					display: none!important
	.zoomIn, .zoomOut
		background-color: $white
		position: relative
	.zoom-container
		top: 45%
		bottom: 0	
		display: inline-block
		// transform: translateY(-50%)
	.zoomIn
		&::after
			content: '+'
			text-align: center
			line-height: 30px
			color: $black
			font-size: 20px
	.zoomOut
		&::after
			content: '-'
			text-align: center
			line-height: 30px
			color: $black
			font-size: 28px
	.contacts-container
		position: absolute
		+rem(bottom, 50px)
		text-align: left
		width: 50%
		right: 0		
		+r(1150)
			width: 70%

		.contacts-column
			font-family: "Regular"
			color: $white
			+rem(font-size, 18px)
			text-transform: none
			&:last-child
				+rem(padding-left, 50px)
			&.contacts-column_fullwidth
				width: 100%
				padding-right: 10%
				+rem(margin-bottom, 20px)
			.contacts-title
				text-transform: uppercase
			a 
				color: $white
	.map-modal-close
		position: absolute
		width: 22px
		height: 22px
		background-image: url(../img/icons/icon-2.png)
		background-size: cover
		background-repeat: no-repeat
		top: 30px
		right: 35px
		z-index: 5
		cursor: pointer
.drive-link
	position: absolute
	left: 18%
	+rem(bottom, 30px)
.modal-window
	position: absolute
	top: 0
	left: 100%
	width: 100%
	height: 100%
	z-index: 5
	&.open
		left: 0
	&.modal-animate
		&::after
			opacity: 0.5
		.modal-window_container
			transform: translate(0, 0)
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #33333a
		opacity: 0
		transition: opacity 0.5s ease
		z-index: -1
	.modal-window_container
		width: 50%
		height: 100%
		background-color: $white
		float: right
		font-size: 0
		text-align: center
		+rem(padding, 20px)
		transform: translate(100%, 0)
		transition: transform 0.5s ease
		will-change: transform
		&::before
			content: ''
			width: 0
			display: inline-block
			vertical-align: middle
			height: 100%
		.form-container
			position: relative
			display: inline-block
			vertical-align: middle
			text-align: left
			width: 100%
			+rem(max-width, 457px)
			.form-container__inner
				&.show-next
					.form-area
						li.current
							.numbers
								span
									animation: moveUpFromDown 0.4s both
							span
								label
									animation: moveUpFromDown 0.4s both
					.pagin
						.pagin-current
							transform: translateY(-100%)
							transition: transform 0.4s
						.pagin-next
							animation: moveUpFromDown 0.4s both
				&.hide
					visibility: hidden
					opacity: 0
					transition: opacity 0.3s, visibility 0s 0.3s
		.form-head
			position: absolute
			+rem(font-size, 28px)
			bottom: 100%
			+rem(margin-bottom, 30px)
			color: $black
		.form-area
			transition: height 0.4s ease
			position: relative
			li
				position: relative
				visibility: hidden
				height: 0
				transition: height 0.3s ease, visibility 0.3s ease
				// z-index: 100
				&.current
					height: auto
					visibility: visible
					transition: none
					.numbers
						span
							transform: translateY(0)
							transition: none
					span
						label
							transform: translateY(0)
							transition: none
					.input
						input
							opacity: 1
				.numbers
					position: absolute
					+rem(top, -32px)
					+rem(left, -90px)
					opacity: 0.2
					z-index: -1
					user-select: none
					pointer-events: none
					overflow: hidden
					span
						display: block
						transform: translateY(-100%)
						transition: transform 0.3s
						font-family: "Regular"
						+rem(font-size, 72px)
						color: $black
						margin-bottom: 0
				span
					display: block
					overflow: hidden
					+rem(margin-bottom, 50px)
					label
						display: block
						transform: translateY(-100%)
						font-family: "Regular"
						color: $black
						+rem(font-size, 24px)
						transition: transform 0.3s
				.input
					display: block
					width: 100%
					border-width: 2px 
					border-style: solid
					border-color: $black
					+rem(height, 75px)
					input
						display: block
						width: 100%
						border: none
						opacity: 0
						transition: opacity 0.3s
						+rem(height, 75px)
						+rem(padding, 8px 75px 8px 25px)
						font-family: "Regular"
						color: $black
						background-color: transparent
						+rem(font-size, 18px)				
						+rem(letter-spacing, .2px)
		.controls
			position: relative
			z-index: 1
		.submit
			display: none
		.next
			position: absolute
			right: 0
			bottom: 4px
			+rem(width, 75px)
			+rem(height, 75px)
			display: block
			padding: 0
			border: none
			background: none
			text-align: center
			z-index: 100
			cursor: pointer
			transform: translateX(-20%)
			transition: transform 0.3s ease, opacity 0.3s ease
			opacity: 0
			&::after
				content: ""
				+rem(width, 16px)
				+rem(height, 16px)
				border-right: 2px solid $black
				border-bottom: 2px solid $black
				transform: rotate(-45deg)
				position: absolute
				top: 50%
				left: 50%
				+rem(margin, -8px 0 0 -8px)
				will-change: transform
			&.show
				transform: none
				opacity: 1
				pointer-events: auto
		.progress
			background-color: $black
			height: 5px
			width: 0%
			margin-top: 0px
			transition: width 0.3s ease
			&::after
				content: ""
				width: 100%
				position: absolute
				top: auto
				background-color: rgba(0,0,0,.05)
				height: inherit
				z-index: -1
		.pagin
			position: absolute
			right: 0
			overflow: hidden
			+rem(width, 54px)
			text-align: right
			+rem(margin-top, 10px)
			span 
				color: $black
				font-size: 10px
				letter-spacing: 3px
				&.pagin-current
					font-family: "Light"
				&.separator
					+rem(padding, 0 10px)
			.pagin-next
				position: absolute
				left: 0
				font-family: "Light"
				top: 5px
		.error-message
			position: absolute
			visibility: hidden
			opacity: 0
			transition: opacity 0.4s
			+rem(font-size, 14px)
			color: $black
			+rem(letter-spacing, 0.9px)
			+rem(margin-top, 10px)
			&.show
				visibility: visible
				opacity: 1
		.final-message
			position: absolute
			visibility: hidden
			opacity: 0
			transition: opacity 0.4s ease
			top: -50%
			left: -10%
			width: 100%
			text-align: left
			&.show
				visibility: visible
				opacity: 1
				transition-delay: 0.5s
			.message-inner
				+rem(max-width, 450px)
				.message-title
					font-family: "Regular"
					+rem(font-size, 32px)
					color: $black
					text-transform: uppercase
					+rem(margin-bottom, 30px)
				span
					font-family: "Regular"
					+rem(font-size, 24px)
					color: $black
					+rem(letter-spacing, 0.9px)
					line-height: 1.2
				.message-close
					font-size: 10px
					color: $black
					text-transform: uppercase
					letter-spacing: 1.9px
					+rem(margin-top, 90px)
					cursor: pointer
@keyframes moveUpFromDown 
	from 
		transform: translateY(100%)
	to 
		transform: translateY(0)


.revealer
	position: absolute
	z-index: 1000
	top: 50%
	left: 50%
	pointer-events: none
	width: 100vw
	height: 100vh

	.revealer__layer
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		will-change: transform
	&.animation-layer-in
		.revealer__layer
			animation: anim-effect-one-in 1s cubic-bezier(0.7, 0, 0.3, 1) forwards
			&:nth-child(2)
				animation-name: anim-effect-two-in
	&.animation-layer-out
		.revealer__layer
			animation: anim-effect-one-out 1s cubic-bezier(0.7, 0, 0.3, 1) forwards
			&:nth-child(2)
				animation-name: anim-effect-two-out
@keyframes anim-effect-one-in 
	0% 
		transform: translate3d(0, 0, 0)
	100% 
		transform: translate3d(0, -100%, 0)
	
@keyframes anim-effect-two-in 
	0%,
	14.5% 
		transform: translate3d(0, 0, 0)
	100% 
		transform: translate3d(0, -100%, 0)

@keyframes anim-effect-one-out
	0%,
	14.5%
		transform: translate3d(0, -100%, 0)
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1)
	100%
		transform: translate3d(0, -200%, 0)
@keyframes anim-effect-two-out
	0%,
		transform: translate3d(0, -100%, 0)
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1)
	100%
		transform: translate3d(0, -200%, 0)

.out
	&.animation
		.gallery-container
			&.gallery-container_inner
				.head-container
					opacity: 0
					transform: translate(-6em, 0)
				.text-container
					opacity: 0
					transform: translate(-6rem, 0)
				.scroll-container
					opacity: 0
					transform: translate(6rem, 0)
		.project
			.head-container
				opacity: 0
				transform: translate(0, 0) !important
			.text-container
				opacity: 0
				transform: translate(-6rem, -50%) !important
.showroom-container
	.text-container
		left: 18%
		top: 45%
		+rem(max-width, 650px)
		.list
			font-size: 0
			.list-item
				display: inline-block
				width: 33.33%
				+rem(padding-right, 30px)
				.numbers
					font-family: "Light"
					+rem(font-size, 48px)
					letter-spacing: 0.2px
					+rem(line-height, 36px)
					+rem(margin-bottom, 20px)
					sup
						font-family: "Light"
						+rem(font-size, 28px)
						+rem(top, -14px)
				p
					+rem(font-size, 18px)
					letter-spacing: 0.2px

.screen-load
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 1100
	background-color: #2a2a32
	// display: none
	.load-container
		position: absolute
		top: 50%
		left: 50%
		+rem(width, 300px)
		+rem(height, 42.5px)
		transform: translate(-50%,-50%)
		.load-cover
			width: 100%
			height: 100%
			background-image: url(../img/preload-cover.png)
			background-size: cover
			opacity: 0.1
		.load-active
			position: absolute
			top: 0
			left: 0
			+rem(width, 0)
			+rem(height, 42.5px)
			overflow: hidden
			.load-active_cover
				+rem(width, 300px)
				+rem(height, 42.5px)
				background-image: url(../img/preload-cover.png)
				background-size: cover
.cap
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $bodyColor
	z-index: 1101
	display: none
	+r(980)
		display: block
	.cap-inner
		+rem(width, 500px)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
		.image
			background-image: url(../img/icons/mobile.png)
			+rem(width, 94px)
			+rem(height, 184px)
			display: inline-block
			background-size: cover
			+rem(margin-bottom, 30px)
		p
			+rem(font-size, 18px)
			+rem(margin-bottom, 30px)
			+rem(letter-spacing, 0.9px)
		.btn
			span
				+rem(font-size, 12px)
.form-container
	display: inline-block
	+rem(max-width, 270px)
	width: 100%
	position: relative
	.form-front
		position: relative
		transition: opacity 0.3s ease, visibility 0.3s ease
		&.hide
			opacity: 0
			visibility: hidden
		.input-form
			width: 100%
			+rem(height, 50px)
			background-color: transparent
			border: 0.125rem solid $white
			border-width: 2px
			font-family: "Light"
			font-size: 10px
			color: $white
			text-transform: uppercase
			letter-spacing: 3px
			+rem(padding, 0 27px)
			transition: border-color 0.3s ease
			&::placeholder
				color: $white
			&.error
				border-color: #bc8888
		.submit
			position: absolute
			top: 0
			right: 0
			+rem(width, 50px)
			+rem(height, 50px)
			background-color: transparent
			&::after
				content: ''
				+rem(width, 11px)
				+rem(height, 11px)
				position: absolute
				border-top: 1px solid #fff
				border-right: 1px solid #fff
				right: 19px
				right: 1.1875rem
				top: 50%
				margin-top: -6px
				margin-top: -.375rem
				transform: rotate(45deg)
	.form-back
		position: absolute
		opacity: 0
		visibility: hidden
		top: 0
		transform: translate(-2rem, 0)
		transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s, transform 0.3s ease 0.3s
		&.show
			transform: translate(0,0)
			opacity: 1
			visibility: visible
		.form-success
			p
				font-family: "Light"
				opacity: 0.5
				+rem(padding-left, 45px)
			.return
				+rem(width, 27px)
				+rem(height, 20px)
				background-image: url(../img/svg/check.svg)
				background-size: cover
				position: absolute
				+rem(top, 7px)
				opacity: 0.5
.error-container
	width: 100%
	height: 100%
	.head-container
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		will-change: transform
		pointer-events: none
		span
			+rem(margin-top, -15px)
			white-space: nowrap
		.description
			text-align: right
.gallery-preview
	+rem(max-width, 1170px)
	width: 100%
	margin: auto
	height: 100%
	position: relative
	z-index: 2
	+r(1280)
		+rem(max-width, 1024px)
	.gallery-preview_container
		font-size: 0
		.gallery-preview_column
			width: 50%
			display: inline-block
			vertical-align: top
			&:last-child
				text-align: right
				.preview-item
					&:first-child
						+rem(margin-top, 210px)
						&:last-child
							+rem(margin-bottom, 150px)
			.preview-item
				display: inline-block
				+rem(width, 543px)
				+rem(height, 305px)
				+r(1280)
					+rem(width, 450px)
					+rem(height, 260px)
				opacity: 0.16
				+rem(margin-bottom, 92px)
				transition: opacity 0.3s ease
				&:hover
					opacity: 0.5
				.image-container
					&::after
						display: none
				&:first-child
					+rem(margin-top, 150px)
					&:last-child
						+rem(margin-bottom, 150px)
.redirect-wrapper
	background-color: #363534
	width: 100%
	height: 100%
	+rem(padding, 85px 85px 0 85px)
	.redirect-container
		width: 100%
		height: 100%
		position: relative
		.img
			max-width: 100%
			display: block
			width: 100%
			background-image: url("../img/IE.jpg")
			height: 100%
			background-size: cover
		.text-container
			position: absolute
			text-align: center
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			+rem(max-width, 600px)
			width: 100%
			p
				font-family: "Light"
				+rem(font-size, 28px)
				+rem(line-height, 40px)
				+rem(margin-bottom, 40px)

$time: 0.8s
.out
	&.unload
		background-color: transparent
		opacity: 1
		.head-container
			span
				transition: transform $time ease-in-out, opacity $time ease-in-out
				transform: translate(0, 2.5rem)
				opacity: 0
				&:first-child
					transition-delay: 0s
				&:last-child
					transition-delay: 0.125s
		.full-slider-container
			.slide
				img
					transform: translate(20%, 0)
					opacity: 0
					transition: transform $time ease-in-out, opacity $time ease-in-out
		.full-slider-container 
			.slide
				opacity: 0
			.slide.current
				background-color: transparent!important
				opacity: 1
				.slide-text 
					p
						transition: transform $time ease-in-out, opacity $time ease-in-out
						opacity: 0
						transform: translate(0, 2.5rem)
		.full-pagination
			transition: transform $time ease-in-out $time, opacity $time ease-in-out $time
			opacity: 0
			transform: translate(0, 2.5rem)
			.current
				&::after
					transform: scale(0)
					transition: transform $time ease-in-out $time*2
	&.load
		.head-container
			span
				transform: none
				opacity: 1
		.full-slider-container
			.slide
				img
					transform: none
					opacity: 1
		.full-slider-container 
			.slide.current
				.slide-text 
					p
						transform: none
						opacity: 1
		.full-pagination
			transform: none
			opacity: 1
			.current
				&::after
					transform: scale(1)
.content-mainpage
	.head-container
		span
			+r(1366)
				+rem(font-size, 120px)
				+rem(line-height, 120px)
			+rh(800)
				+rem(font-size, 120px)
				+rem(line-height, 120px)
.content-show_room
	.contacts-container
		width: 66.66%
		+rem(margin-top, 35px)
		.contacts-column_fullwidth
			width: 100%
			+rem(margin-bottom, 25px)
		.contacts-column
			color: $white
		.contacts-text
			a
				color: $white
.gallery-vertical .cover_video-wrapp.empty_video 
	cursor: default
.empty_video + .screen_frame .screen_frame-content .screen_frame-image:after
	display: none