// Normally mainpage styles
*
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
a 
	text-decoration: none
	outline: none
	color: $black
img
	outline: none
	border: none
sup
	+rem(font-size, 18px)
	+rem(top, -7px)
	position: relative
html
	font-size: 16px
	height: 100%
	+r(1400)
		font-size: 15px
	+r(1280)
		font-size: 13px
body
	font-family: $Regular
	height: 100%
	overflow: hidden
	+rem(font-size, 18px)
	color: $white
	background-color: $bodyColor
	-webkit-font-smoothing: antialiased
.out
	position: relative
	width: 100%
	height: 100%
.perspective
	position: absolute
	width: 100%
	height: 100%
	perspective: 1500px
	.perspective-container
		position: absolute
		overflow: hidden
		width: 100%
		height: 100%
		backface-visibility: hidden
		min-height: 100%
		z-index: 1
		transform: translateZ(0) translateX(0) rotateY(0deg)
		transform-origin: 0% 50%
		transition: transform 0.3s $cub 0.7s
	&.perspective-action
		.perspective-container
			transform: translateZ(-8.375rem) translateX(-1.75rem) rotateY(5deg);
			transition-delay: 0s
.wrapper 
	position: relative
	width: 100%
	height: 100%
	z-index: 3
	.content
		width: 100%
		height: 100%
.navigation-site
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $menuOverlay
	z-index: 5
	opacity: 0
	visibility: hidden
	transition: opacity 0.3s $cub 0.7s, visibility 0.3s $cub 0.7s
	.overlay-circle
		position: absolute
		+rem(top, -1175px)
		+rem(right, -1175px)
		background-color: $white
		+rem(width, 2350px)
		+rem(height, 2350px)
		border-radius: 100%
		transition: transform 0.3s ease 0.3s
		transform: scale(0)
	&.navigation-open
		opacity: 1
		visibility: visible
		transition-delay: 0s
		.overlay-circle
			transform: scale(1)
		.navigation-container
			opacity: 1
			transition-delay: 0.7s
	.navigation-container
		position: relative
		float: right
		+rem(width, 650px)
		height: 100vh
		+rem(padding, 20px 160px 0 10px)
		opacity: 0
		transition: opacity 0.3s $cub 0s
		.navigation-topline
			+clr
.social-container
	float: left
	.social-item
		display: inline-block
		font-family: $Light
		font-size: 10px
		text-transform: uppercase
		color: $black
		+rem(letter-spacing, 1.9px)
		&:not(:last-of-type)
			+rem(margin-right, 25px)
.lang-container
	float: right
	.lang-item
		display: inline-block
		font-family: $Light
		font-size: 10px
		text-transform: uppercase
		color: $black
		+rem(letter-spacing, 1.9px)
		&:not(:last-of-type)
			+rem(margin-right, 25px)
.menu
	margin-top: 40%
	.menu-container
		margin-bottom: 7%
		.menu-item
			display: block
			width: 100%
			position: relative
			&::after
				content: ""
				position: absolute
				top: 50%
				+rem(height, 4px)
				background-color: $black
				width: 0
				right: 0
				+rem(margin-top, -2px)
				transition: width 0.3s $cub
			&:hover, &.active
				&::after
					+rem(width, 118px)
			a
				font-family: "Light"
				+rem(font-size, 36px)
				color: $black
				display: block
				width: 100%
.contacts-container
	display: inline-block
	width: 100%
	margin-top: 30%
	+clr
	.contacts-column
		width: 50%
		float: left
		font-family: "Light"
		font-size: 12px
		color: $black
		text-transform: uppercase
		+rem(letter-spacing, 1.5px)
		.contacts-title
			color: $grey
			+rem(margin-bottom, 20px)
		.contacts-text
			p
				+rem(margin-bottom, 10px)
			span
				display: block
.burger
	position: absolute
	+rem(top, 18px)
	+rem(right, 18px)
	+rem(width, 53px)
	+rem(height, 53px)
	background-color: $white
	transition: color 0.3s $cub
	border-radius: 100%
	z-index: 6
	cursor: pointer
	&.open
		background-color: $black
.logo 
	+rem(width, 155px)
	+rem(height, 22px)
	background-image: url(../img/icons/logo.png)
	display: block
	position: absolute
	z-index: 5
	background-size: cover
	+rem(top, 31px)
	+rem(left, 40px)
.head-site
	.lang-container
		float: none
		position: absolute
		+rem(top, 35px)
		+rem(right, 156px)
		z-index: 5
		.lang-item
			color: $white
	.collections
		position: absolute
		z-index: 5
		+rem(top, 29px)
		+rem(left, 297px)
		color: #f6f2f2
		i
			display: inline-block
			vertical-align: middle
			+rem(width, 11px)
			+rem(height, 11px)
			background-image: url(../img/icons/tr.png)
			background-size: cover
			+rem(margin, -3px 10px 0 0 )
.share-container
	position: absolute
	+rem(bottom, 30px)
	+rem(left, 30px)
	+rem(width, 20px)
	+rem(height, 19px)
	z-index: 5
	.share-trigger
		width: 100%
		height: 100%
		display: block
		background-image: url(../img/icons/share.png)
		background-size: cover
		cursor: pointer
.developers
	position: absolute
	z-index: 5
	bottom: 50px
	right: 40px
	+rem(width, 5px)
	+rem(height, 5px)
	.developers-transform
		transform: rotate(90deg);
		transform-origin: right bottom;
		float: right
		.developers-text
			a
				display: inline-block
				white-space: nowrap
				font-family: "Light"
				font-size: 10px
				text-transform: uppercase
				color: $white
				letter-spacing: 3px
.copyright
	position: absolute
	z-index: 5
	top: 65%
	+rem(left, 35px)
	+rem(width, 5px)
	+rem(height, 5px)
	.copyright-transform
		transform: rotate(-90deg)
		.copyright-list
			white-space: nowrap
			li
				display: inline-block
				font-size: 10px
				font-family: "Light"
				text-transform: uppercase
				padding: 0 10px
				letter-spacing: 3px
				position: relative
				&:not(:last-child)
					&::after
						content: "."
						position: absolute
						bottom: 0
						right: -4px
.full-slider
	position: relative
	width: 100%
	height: 100%
	.color-container
		width: 26%
		height: 100%
		position: relative
		z-index: 5
		transition: background-color .5s ease
		float: left
	.full-slider-container
		position: relative
		width: 74%	
		height: 100%
		float: left
		.slide
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 1
			will-change: transform
			&.current
				z-index: 2
				.slide-text
					opacity: 1
					transform: none
				.active
					.slide-text
						opacity: 1
						transform: none
			img
				width: 100%
				height: 100%
				object-fit: cover
			&.slideOut
				z-index: 2
			&.slideIn
				animation: slideIn 0.5s ease both
				z-index: 3
			
		.slide-text
			position: absolute
			left: 45%
			top: 50%
			max-width: 350px
			transform: translate(4rem, -4rem)
			opacity: 0
			transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s
			p 
				font-family: "Light"
				+rem(font-size, 28px)
				+rem(margin-bottom, 30px)
				color: $colorText
			.slide-link
				position: relative
				+rem(padding-left, 45px)
				&::after
					content: ''
					+rem(width, 28px)
					+rem(height, 28px)
					background-image: url(../img/icons/icon-1.png)
					background-size: cover
					background-repeat: no-repeat
					position: absolute
					left: 0
					top: 0
					transition: transform 0.5s ease
					transform-origin: 50% 50%
				&:hover
					&::after
						transform: rotate(360deg)
				span
					font-family: "Light"
					font-size: 10px
					color: $white
					text-transform: uppercase
					letter-spacing: 3px
					line-height: 28px
	.full-pagination
		position: absolute
		z-index: 7
		+rem(left, 297px)
		+rem(bottom, 30px)
		+rem(min-width, 250px)
		.pagination-item
			+rem(padding, 5px 0)
			display: block
			width: 100%
			position: relative
			cursor: pointer
			opacity: 0.3
			transition: opacity 0.3s ease
			&::after
				content: ""
				+rem(width, 118px)
				background-color: $white
				+rem(height, 2px)
				position: absolute
				right: 0
				top: 50%
				+rem(margin, -1px 0 0 0)
				transform: scaleX(0)
				transition: all 0.5s ease
			&:hover 
				opacity: 1
			&.current
				opacity: 1
				&::after
					transform: scaleX(1)
	.full-slider-inserted
		position: relative
		width: 100%
		height: 100%
		.slider-inserted_container
			position: relative
			width: 100%
			height: 100%
			.slide-inserted 
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				z-index: 1
				perspective: 1000px
				transition: transform 0.5s ease
				.slide-text
					transform: translate(4rem, -4rem)
					opacity: 0
				img
					width: 100%
					height: 100%
					object-fit: cover
					backface-visibility: hidden
					transform-origin: 0 50%
					will-change: transform					
					transition: transform 0.5s ease
				&.active
					z-index: 2
				&.transform-out
					z-index: 2
					img
						transition: none
						animation: transformOut 0.5s ease both
				&.transform-in
					z-index: 4
					transition: none
					animation: transformIn 0.5s ease both
					img
				&.slideNext
					// transform: translate(100%, 0)
					// z-index: 3
		&.hovered
			.slide-inserted
				&.active
					img
						transform: rotateY(5deg)
				&.slideNext
					// transform: translate(90%, 0)
					// animation: transformInOut1 0.5s ease both
			&.animation
				.slide-inserted
					&.active
						img
							transform: none
					&.transform-out
						img
							animation: none
							transform: rotateY(5deg)
					&.transform-in
						animation: transformInOut 0.5s ease both
						
		.slider-inseted_bullet
			position: absolute
			+rem(bottom, 27px)
			left: 50%
			transform: translate(-50%, 0)
			z-index: 5
			.bullet
				width: 25px
				height: 25px
				display: inline-block
				position: relative
				cursor: pointer
				&::after
					content: ""
					width: 8px
					height: 8px
					background-color: rgba(255,255,255,.3)
					border-radius: 100%
					position: absolute
					top: 50%
					left: 50%
					margin: -4px 0 0 -4px
					transition: background-color 0.3 ease
				&.active
					&::after
						background-color: $white
		.slider-inserted_nav
			position: absolute
			top: 0
			right: 0
			+rem(width, 80px)
			bottom: 0
			cursor: url(../img/icons/arrowright.png), auto
			z-index: 5
@keyframes slideIn
	0%
		transform: translate(35%, 0)
		opacity: 0
	100%
		transform: translate(0,0)
		opacity: 1

@keyframes transformOut
	0%
		transform: rotateY(0deg)
	100%
		transform: rotateY(5deg)
@keyframes transformIn
	0%
		transform: translate(100%, 0)
	100%
		transform: translate(0%, 0)

@keyframes  transformInOut1
	0%
		transform: translate(100%, 0)
		z-index: 3
	100%
		transform: translate(90%, 0)
		z-index: 3
@keyframes  transformInOut
	0%
		transform: translate(90%, 0)
	100%
		transform: translate(0%, 0)
.head-container
	position: absolute
	z-index: 6
	+rem(top, 185px)
	+rem(left, 160px)
	span
		font-family: "DemiBold"
		+rem(font-size, 150px)
		text-transform: uppercase
		display: block
		+rem(line-height, 150px)
.gallery-container
	position: relative
	z-index: 2
	width: 100%
	height: 100%
	.color-container
		position: absolute
		z-index: 1
		width: 100%
		height: 100%
		.color
			width: 100%
			height: 50%
			transition: background-color 1.2s cubic-bezier(0.25, 0.1, 0.25, 1)
	.columns-template
		position: absolute
		width: 100%
		height: 100%
		z-index: 7
		.columns
			&:first-child
				width: 32.375%
			&:last-child
				width: 67.625%
	.filter
		left: 18%
	&.gallery-container_inner
		.columns-template
			.columns
				width: 50%
.columns-template
	position: relative
	.columns
		width: 50%
		height: 100%
		float: left
.filter
	position: absolute
	z-index: 5
	top: 55%
	+rem(left, 284px)
	.filter-item
		+rem(padding-left, 33px)
		position: relative
		a
			color: $lgrey
			transition: color 0.3s ease
			+rem(padding, 7px 0)
			display: inline-block
			&:hover
				color: $white
		&.active
			a
				color: $white
			&::after
				content: ''
				+rem(width, 4px)
				+rem(height, 4px)
				background-color: $white
				position: absolute
				top: 50%
				+rem(margin-top, -2px)
				left: 0
				border-radius: 100%
.gallery-slider
	position: relative
	width: 100%
	height: 100%
	.gallery-slider_content
		position: absolute
		width: 100%
		height: 100%
		+rem(padding, 80px 118px 39px 0)
		&.prev
			top: -100%
		&.next
			top: 100%
		&.is-animate
			&.prev
				top: 0
			&.next
				top: 0
		&.current-page
			&.animateNext
				& > div
					&:last-of-type:not(:first-of-type)
						.slider-element
							&_left
								bottom: -100%
							&_right
								top: -100%
			&.animatePrev
				& > div
					&:last-of-type:not(:first-of-type)
						.slider-element
							&_left
								top: -83%
							&_right
								bottom: -80%
								top: auto
			&.animate
				&.animateNext
					& > div
						&.slideIn
							.slider-element
								&_left
									+rem(bottom, 40px)
									animation: 1.2s slideLeftDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									+rem(top, 80px)
									animation: 1.2s slideRightUp both cubic-bezier(0.25, 0.1, 0.25, 1)
						&.slideOut
							.slider-element
								&_left
									animation: 1.2s slideLeftUp both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
				&.animatePrev
					& > div
						&.slideIn
							.slider-element
								&_left
									+rem(bottom, 40px)
									// top: auto
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									+rem(top, 80px)
									// bottom: -100%
									animation: 1.2s slideLeftDown both cubic-bezier(0.25, 0.1, 0.25, 1)
						&.slideOut
							.slider-element
								&_left
									animation: 1.2s slideRightDown both cubic-bezier(0.25, 0.1, 0.25, 1)
								&_right
									animation: 1.2s slideLeftUp both cubic-bezier(0.25, 0.1, 0.25, 1)
		.slider-element
			width: 40.851%
			height: 71.6%
			position: absolute
			will-change: transform
			&:hover
				.element-text
					&::after
						+rem(width, 108px)
						+rem(right, 20px)
			.element-text
				position: absolute
				z-index: 2
				width: 100%
				&::after
					content: ""
					+rem(width, 128px)
					height: 2px
					background-color: $white
					position: absolute
					+rem(top, 18px)
					transition: all 0.3s ease
					right: 0
				.element-name
					font-family: "Light"
					+rem(font-size, 28px)
					+rem(margin-bottom, 5px)
					color: $white
				.element-price
					font-family: "Light"
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 3px
					color: $white
			&_left
				float: left
				left: 0
				+rem(bottom, 39px)
				will-change: transform
				.element-text
					+rem(bottom, 40px)
					+rem(left, 40px)
			&_right
				float: right
				+rem(right, 118px)
				+rem(top, 80px)
				will-change: transform
				.element-text
					+rem(top, 40px)
					+rem(right, 40px)
.image-container
	width: 100%
	height: 100%
	overflow: hidden
	position: relative
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $overlay
		opacity: 0.5
	img
		width: 100%
		max-width: 100%
		height: 100%
		object-fit: cover
	.featured-image
		width: 100%
		height: 100%
		background-size: cover
@keyframes slideLeftUp
	0%
		transform: translate(0,0)
	100%
		transform: translate(0, -150%)
@keyframes slideLeftDown
	0%
		transform: translate(0,150%)
	100%
		transform: translate(0, 0)
@keyframes slideRightDown
	0%
		transform: translate(0,0)
	100%
		transform: translate(0, 150%)
@keyframes slideRightUp
	0%
		transform: translate(0,-150%)
	100%
		transform: translate(0, 0)
.pagination-container
	position: absolute
	+rem(bottom, 40px)
	+rem(right, 156px)
	font-family: "Light"
	font-size: 10px
	z-index: -1
	.pagination-spinner
		padding: 0 10px
	div[class^="pagination-"]
		display: inline-block
		letter-spacing: 3px

.text-container
	position: absolute
	z-index: 5
	top: 55%
	+rem(left, 160px)
	+rem(max-width, 525px)
	width: 100%
	.side-price
		font-family: "Light"
		+rem(font-size, 28px)
		float: left
		+rem(max-width, 160px)
		width: 100%
		color: $colorText
	.side-text
		float: right
		+rem(padding-right, 15px)
		+rem(max-width, 365px)
		p
			+rem(line-height, 28px)
			+rem(letter-spacing, 0.2px)
			color: $colorText
		.btn
			+rem(margin-top, 20px)

.btn
	display: inline-block
	border-style: solid
	border-color: $white
	+rem(border-width, 2px)
	span
		font-family: "Light"
		font-size: 10px
		text-transform: uppercase
		letter-spacing: 3px
		+rem(padding, 17px 27px)
		display: block
		color: $white

.scroll-container
	height: 100%
	overflow: hidden;
	margin-right: -20px
	.scroller
		width: 100%
		height: 100%
		overflow: auto
		margin-right: 20px
		&:hover
			& + .scroll-down
				opacity: 1
		.image-container
			overflow: auto
			height: auto
			img
				height: auto
				display: block
	.scroll-down
		position: absolute
		+rem(bottom, 40px)
		right: 25%
		+rem(width, 34px)
		+rem(height, 56px)
		pointer-events: none
		opacity: 0
		transition: opacity 0.3s ease
		.mouse
			+rem(width, 3px)
			+rem(padding, 26px 15px)
			border: 2px solid $white
			+rem(border-radius, 25px)
			opacity: 0.75
			+rem(height, 35px)
			.scroll-wheel
				width: 2px
				height: 10px
				border-radius: 25%
				background-color: $white
				animation: scroll 1.2s cubic-bezier(.15,.41,.69,.94) infinite
				position: absolute
				top: 15px
				left: 50%
				margin-left: -1px
@keyframes scroll
	0%
		opacity: 0
	10%
		opacity: 1
		transform: translateY(0)
	100%
		opacity: 0
		transform: translateY(15px);
