.error-container
	.head-container
		.description Страница не найдена
		span Ошибка 404
	.color-container
		.color#topline(style="background-color:#2f2f36")
		.color#bottomline(style="background-color:#2f2f36")
	.gallery-preview
		.gallery-preview_container.vs-scroll
			.gallery-preview_scroll(data-speed="0").vs-transform
				.gallery-preview_column
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-1.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-3.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-2.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-4.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-1.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-3.jpg")
				.gallery-preview_column
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-2.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-4.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-1.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-3.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-2.jpg")
					a.preview-item.ajax-trigger(href="collection-inner.html")
						.image-container
							img(class="lazy" data-src="img/slider/slide-4.jpg")