.redirect-wrapper
	.redirect-container
		.img
		.text-container
			p Вы используете устаревшую версию браузера. Пожалуйста, обновите свой браузер:
			a.btn(href="http://outdatedbrowser.com/ru" rel="nofollow")
				span обновить