.full-slider
	.head-container
		span european tile
		span gallery
	.color-container
	.full-slider-container
		.slide
			img(src="img/slider/slide-1.jpg" data-color="#2a2a32")
			.slide-text
				p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
				a(class="slide-link" href="#")
					span О шоуруме
		.slide
			.full-slider-inserted
				.slider-inserted_container
					.slide-inserted
						img(src="img/slider/slide-4.jpg" data-color="#3e6879")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к акции
					.slide-inserted
						img(src="img/slider/slide-2.jpg" data-color="#524339")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к акции
				.slider-inseted_bullet
				.slider-inserted_nav
		.slide
			.full-slider-inserted
				.slider-inserted_container
					.slide-inserted
						img(src="img/slider/slide-3.jpg" data-color="#524e4b")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к коллекции
					.slide-inserted
						img(src="img/slider/slide-1.jpg" data-color="#2a2a32")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к коллекции
					.slide-inserted
						img(src="img/slider/slide-2.jpg" data-color="#524339")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к коллекции
					.slide-inserted
						img(src="img/slider/slide-4.jpg" data-color="#3e6879")
						.slide-text
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							a(class="slide-link" href="#")
								span Перейти к коллекции
				.slider-inseted_bullet
				.slider-inserted_nav
	.full-pagination
		- var pagin = ["Шоурум","Акции","Новинки"]
		each paginName, index in pagin
			.pagination-item(data-index-pagin=index) #{paginName}
	