.full-slider
	.head-container
		span ГАЛЕРЕЯ
		span КЕРАМИЧЕСКОЙ
		span ПЛИТКИ
	.color-container
	.full-slider-container
		.slide
			.full-slider-inserted
				.slider-inserted_container
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#fff;')
							.homepage-hero-module
								.video-container
									video(autoplay loop class="fillWidth")
										source(src="video/vid.mp4"  type="video/mp4")
									.poster.hidden
										img(src="img/slider/slide-4.jpg" data-color="#3e6879")
						a.slide-text.percent(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к акции
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-2.jpg" data-color="#524339")
						a.slide-text.percent(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к акции
				.slider-inseted_bullet
				.slider-inserted_nav
		.slide
			.full-slider-inserted
				.slider-inserted_container
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#fff;')
							img(src="img/slider/slide-4.jpg" data-color="#3e6879")
						a.slide-text.percent(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к акции
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-2.jpg" data-color="#524339")
						a.slide-text.percent(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к акции
				.slider-inseted_bullet
				.slider-inserted_nav
		.slide
			.full-slider-inserted
				.slider-inserted_container
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-3.jpg" data-color="#524e4b")
						a.slide-text(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к коллекции
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-1.jpg" data-color="#2a2a32")
						a.slide-text(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к коллекции
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-2.jpg" data-color="#524339")
						a.slide-text(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к коллекции
					.slide-inserted
						.slide-image_container
							.slide-image_cover(style='background-color:#000;')
							img(src="img/slider/slide-4.jpg" data-color="#3e6879")
						a.slide-text(href="#")
							p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
							div(class="slide-link")
								span Перейти к коллекции
				.slider-inseted_bullet
				.slider-inserted_nav
	.full-pagination
		- var pagin = ["Шоурум","Акции","Новинки"]
		each paginName, index in pagin
			.pagination-item(data-index-pagin=index) #{paginName}