nav.menu
	mixin menuList(link, name, bool)
		if(bool)
			li(class="menu-item menu-item_link-padding" class={active: name === currentClass})
				a(class="menu-item_link ajax-trigger" href=link) #{name}
		else
			li(class="menu-item" class={active: name === currentClass})
				a(class="menu-item_link ajax-trigger" href=link) #{name}
	ul.menu-container
		+menuList("/", "Главная", true)
		+menuList("collection.html", "Коллекции", false)
		+menuList("actions.html", "Акции", false)
		+menuList("projects.html", "Проекты", true)
		+menuList("showroom.html", "Шоурум", false)
		+menuList("designers.html", "Дизайнерам", false)