nav.menu
	mixin menuList(link, name)
		li(class="menu-item" class={active: name === currentClass})
			a(href=link) #{name}
	ul.menu-container
		+menuList("/", "Главная")
	ul.menu-container
		+menuList("collection.html", "Коллекции")
		+menuList("actions.html", "Акции")
		+menuList("projects.html", "Проекты")
	ul.menu-container
		+menuList("showroom.html", "Шоурум")
		+menuList("designers.html", "Дизайнерам")