section.navigation-site
	.overlay-circle
	.navigation-container
		.navigation-topline
			include _social
			include _lang
		.navigation-middle
			include _navigation-menu
		.navigation-bottomline
			include _contacts