.showroom-container
	.head-container
		span Шоурум
	.color-container
		.color#topline(style="background-color:#343a3e")
		.color#bottomline(style="background-color:#343a3e")
	.map-container
		.image
			img(src="img/map.jpg")
	.columns-template
		.columns
			a.drive-link.slide-link.js-modal-map(href="#")
				span Как к нам проехать
			.text-container
				ul.list
					li.list-item
						.numbers 1200 м
							sup 2
						p Самый большой шоурум в Минске
					li.list-item
						.numbers 900
						p Коллекций плитки в одном месте
					li.list-item
						.numbers 56
						p Сотрудников в штате компании
		.columns
			.gallery-vertical
				.gallery-vertical_container
					.gallery-slider.js-gallery-slider
						.slider-item
							.cover_video-wrapp(data-id="wW9uBeGQRyo")
								.cover_video
									.cover_video-inner
										div
											.bg_video
												video(data-webm="video/primebeef.webm" data-mp4="video/primebeef.mp4" class="video")
							.screen_frame
								.screen_frame-content
									.screen_frame-image
										div(style="background-image: url(img/video-holder/Beach-Camera.jpg)")
						.slider-item
							.image-container
								img(src="img/gallery/item-4.jpg")
						.slider-item
							.cover_video-wrapp(data-id="3TlJWoM69ww")
								.cover_video
									.cover_video-inner
										div
											.bg_video
												video(data-webm="video/primebeef.webm" data-mp4="video/primebeef.mp4" class="video")
							.screen_frame
								.screen_frame-content
									.screen_frame-image
										div(style="background-image: url(img/video-holder/Beach-Camera.jpg)")
					.pagination-container
						.pagination-current
							span.current 01
						.pagination-spinner |
						.pagination-all 04
	