.showroom-container
	.head-container
		span Шоурум
	.color-container
		.color#topline(style="background-color:#343a3e")
		.color#bottomline(style="background-color:#343a3e")
	.map-container
		.image
			img(src="img/map.jpg")
	.columns-template
		.columns
		.columns
			.gallery-vertical
				.gallery-vertical_container
					.gallery-slider.js-gallery-slider
						.slider-item
							.cover_video-wrapp
								.cover_video
									.cover_video-inner
										div
											.bg_video
												video(src="video/primebeef.webm" class="video")
							.screen_frame
								.screen_frame-content
									.screen_frame-image
										div(style="background-image: url(img/video-holder/Beach-Camera.jpg)")
						.slider-item
							.cover_video-wrapp
								.cover_video
									.cover_video-inner
										div
											.bg_video
												video(src="video/primebeef.webm" class="video")
							.screen_frame
								.screen_frame-content
									.screen_frame-image
										div(style="background-image: url(img/video-holder/Beach-Camera.jpg)")
					.pagination-container
						.pagination-current
							span.current 01
						.pagination-spinner |
						.pagination-all 04
			script(type="text/javascript").
				var verticalGallery = new VerticalGallery($(".js-gallery-slider"));