.stock-container
	.head-container
		span Акции
	.color-container
		.color#topline(style="background-color:#414040")
		.color#bottomline(style="background-color:#414040")
	.columns-template.flip-gallery
		.columns
			.thumbnails-container
				.thumbnails-scroller
					mixin thumb(date, name)
						.thumbnails-items
							data #{date}
							.stock-name #{name}
					+thumb("25 октября 2016","Целая испания в вашей ванной комнате с коллекцией PALACE CARRARA. Только до 29 августа при заказе от €300 скидки до 50%")
					+thumb("25 октября 2016","Горячая итальянка HAVANA в вашей ванной от €60 м")
					+thumb("25 октября 2016","Скидки -20% на изумительную коллекцию Meltin для ванной и гостинной, Италия")
		.columns
			.card-container
				.card-item
					.flip-card
						.flip-card_container
							.flip-card_front
								.image-container
									.featured-image(data-src="img/stock/stock-1.jpg" class="lazy")
									.overlay
								a(class="slide-link" href="#")
									span Подробнее
							.flip-card_back
								.slide-link_close
									span Скрыть
								.stock-more
									p Осенние подарки от Fashin Gallery! На всю коллекцию итальянской плитки 
										a(href="#") Meltin для&nbsp;ванной и гостинной
										|  скидка -20%.
									p Условия проведения акции: действие акции проходит с 1 ноября по 20 декабря 2016 года. Подробности уточняйте у консультантов шоурума или по телефону: +375 (29) 614 54 53.
						.flip-line
				.card-item
					.flip-card
						.flip-card_container
							.flip-card_front
								.image-container
									.featured-image(data-src="img/stock/stock-1.jpg" class="lazy")
									.overlay
								a(class="slide-link" href="#")
									span Подробнее
							.flip-card_back
								.slide-link_close
									span Скрыть
								.stock-more
									p Осенние подарки от Fashin Gallery! На всю коллекцию итальянской плитки 
										a(href="#") Meltin для&nbsp;ванной и гостинной
										|  скидка -20%.
									p Условия проведения акции: действие акции проходит с 1 ноября по 20 декабря 2016 года. Подробности уточняйте у консультантов шоурума или по телефону: +375 (29) 614 54 53.							
						.flip-line
				.card-item
					.flip-card
						.flip-card_container
							.flip-card_front
								.image-container
									.featured-image(data-src="img/stock/stock-1.jpg" class="lazy")
									.overlay
								a(class="slide-link" href="#")
									span Подробнее
							.flip-card_back
								.slide-link_close
									span Скрыть
								.stock-more
									p Осенние подарки от Fashin Gallery! На всю коллекцию итальянской плитки 
										a(href="#") Meltin для&nbsp;ванной и гостинной
										|  скидка -20%.
									p Условия проведения акции: действие акции проходит с 1 ноября по 20 декабря 2016 года. Подробности уточняйте у консультантов шоурума или по телефону: +375 (29) 614 54 53.
						.flip-line
			.gallery-slider_scrolldown Листайте вниз
			.pagination-container
				.pagination-current
					span.current 01
				.pagination-spinner |
				.pagination-all 04
