.gallery-container
	.head-container
		span Коллек
		span ции
	.color-container
		.color#topline
		.color#bottomline
	.columns-template
		.columns
			ul.filter
				-var current = 'Современная'
				mixin filter(name, link)
					li(class="filter-item" class={active: name === current})
						a(class="filter-link" href=link) #{name}
				+filter("Кантри", "#")
				+filter("Современная", "#")
				+filter("Клинкерная", "#")
				+filter("Минимализм", "#")
				+filter("Мозаика", "#")
		.columns
			.gallery-slider
				.gallery-slider_content.prev#prev-page
				.gallery-slider_content.current-page#current-page
					div
						a.slider-element.slider-element_left.slideLeft.ajax-trigger(data-color="#2a2a32" href="collection-inner.html")
							.container
								.image-container
									.lazy.featured-image(data-src="img/gallery/item-1.jpg")
							.element-text
								.element-name FAP, Roma1
								.element-price от €60 м2
						a.slider-element.slider-element_right.slideRight.ajax-trigger(data-color="#524339" href="collection-inner.html")
							.container
								.image-container
									.lazy.featured-image(data-src="img/gallery/item-2.jpg")
							.element-text
								.element-name Iris, Bellagio2
								.element-price от €60 м2
				.gallery-slider_content.next#next-page
					div
						a.slider-element.slider-element_left.slideLeft.ajax-trigger(data-color="#3f3b35" href="collection-inner.html")
							.image-container
								.lazy.featured-image(data-src="img/gallery/item-3.jpg")
							.element-text
								.element-name FAP, Roma3
								.element-price от €60 м2
						a.slider-element.slider-element_right.slideRight.ajax-trigger(data-color="#e6daca" href="collection-inner.html")
							.image-container
								.lazy.featured-image(data-src="img/gallery/item-4.jpg")
							.element-text
								.element-name Iris, Bellagio4
								.element-price от €60 м2
			.pagination-container
				.pagination-current
					span.current 01
				.pagination-spinner |
				.pagination-all 04
			.navigation-container
				a.navigation-link(id="prev-link" href="#")
				a.navigation-link(id="next-link" href="collection_page-2.html")
			
	
			