extends _layout

block title
	title stocks

block content
	include includes/_burger
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "stocks"
				.content(class="content-"+content data-page=content)
					include includes/_stocks
		script(type="text/javascript").
			$(lazy)
			$(flipCard)
			var flip = new FlipGallery($(".flip-gallery"))
	-var currentClass = "Акции"
	include includes/_navigation-site