extends _layout

block title
	title index

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "collection"
				.content(class="content-"+content data-page=content)
					include includes/_temp-collection-3
			script(type="text/javascript").
				$(lazy)
				var slider = new GallerySlider($(".gallery-slider"));
				slider.init()
		-var currentClass = "Коллекции"
		include includes/_burger
		include includes/_navigation-site