extends _layout

block title
	title stocks

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "designers"
				.content(class="content-"+content data-page=content)
					include includes/_designers
			include includes/_brand-modal
			script(type="text/javascript").
				var modal = new BrandModal($(".modal"));
		-var currentClass = "Дизайнерам"
		include includes/_burger
		include includes/_navigation-site