extends _layout

block title
	title stocks

block content
	include includes/_burger
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "designers"
				.content(class="content-"+content data-page=content)
					include includes/_designers
		include includes/_brand-modal
		include includes/_mail
		script(type="text/javascript").
			var modal = new BrandModal($(".modal"));
			var modal = new Form();
			modal.init();
			var form = document.getElementById("formSteps");
			new stepForm(form, {
				onSubmit: function(form) {
					$(".form-container__inner").addClass("hide");
					$(".final-message").addClass("show");
				}
			});
			var simpleForm = new SimpleValidForm($(".form-container"),{
				onSubmit: function(form) {
					$(form).find(".form-front").addClass("hide");
					$(form).find(".form-back").addClass("show");
				}
			});
			var section = document.querySelector('.vs-section');
			var divs = document.querySelectorAll('.vs-transform');
			smooth = new Smooth({
				direction: 'vertical',
				section: section,
				ease: 0.1,
				els: divs
			});
			smooth.init();
	-var currentClass = "Дизайнерам"
	include includes/_navigation-site