extends _layout

block title
	title stocks

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "designers"
				.content(class="content-"+content data-page=content)
					include includes/_designers
			-var currentClass = "Дизайнерам"
		.burger
			div
		include includes/_navigation-site
		include includes/_brand-modal
		script(type="text/javascript").
			var modal = new BrandModal($(".modal"));