extends _layout

block title
	title index

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "mainpage"
				.content(class="content-"+content data-page=content)
					include includes/_mainslider
			-var currentClass = "Главная"
		.burger
			div
		include includes/_navigation-site