extends _layout

block title
	title Projects

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "projects"
				.content(class="content-"+content data-page=content)
					include includes/_temp-projects
			-var currentClass = "Проекты"
		.burger
			div
		include includes/_navigation-site