extends _layout

block title
	title Projects

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "projects"
				.content(class="content-"+content data-page=content)
					include includes/_temp-projects-2
			script(type="text/javascript").
				$(lazy)
				var slider = new GallerySlider($(".gallery-slider"));
				slider.init()
		-var currentClass = "Проекты"
		include includes/_burger
		include includes/_navigation-site