extends _layout

block title
	title Projects inner

block content
	include includes/_burger
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "projects"
				.content(class="content-"+content data-page=content)
					include includes/_projects-inner-2
			include includes/_popup-request
		script(type="text/javascript").
			$(lazy($(".scroller")));
			var modal = new Form();
			modal.init();
			var form = document.getElementById("formSteps");
			new stepForm(form, {
				onSubmit: function(form) {
					$(".form-container__inner").addClass("hide");
					$(".final-message").addClass("show");
				}
			})
			var serfProject = new SerfProject($(".gallery-pagination"));
	-var currentClass = "Проекты"
	include includes/_navigation-site
