extends _layout

block title
	title stocks

block content
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "showroom"
				.content(class="content-"+content data-page=content)
					include includes/_showroom
			-var currentClass = "Шоурум"
		.burger
			div
		include includes/_navigation-site
		include includes/_video-popup
		include includes/_map-modal
		script(type="text/javascript").
			var verticalGallery = new VerticalGallery($(".js-gallery-slider"));
			var vModal = new ModalVideo($(".screen_frame"));
			$(maps)
			var map = new mapModal();
			map.init();