extends _layout

block title
	title stocks

block content
	include includes/_burger
	.perspective
		.perspective-container
			include includes/_headsite
			section.wrapper
				-var content = "show_room"
				.content(class="content-"+content data-page=content)
					include includes/_showroom
		include includes/_map-modal
		include includes/_video-popup
		script(type="text/javascript").
			var verticalGallery = new VerticalGallery($(".js-gallery-slider"));
			var vModal = new ModalVideo($(".cover_video-wrapp"));
			$(maps)
			var map = new mapModal();
			map.init();
	-var currentClass = "Шоурум"
	include includes/_navigation-site
	